{% extends '::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <section class="login">
        <article>

            {% if error %}
                <div class="error">{{ error.message | trans}}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post">

                <label for="username">Usuário:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Senha:</label>
                <input type="password" id="password" name="_password" />
                <hr />
                Lembrar de mim <input type="checkbox" name="_remember_me" />
                <hr />

                <button type="submit" class="btn btn-primary pull-left">Login</button>

            </form>

        </article>
    </section>
{% endblock %}