{% extends 'base.html.twig' %}

{% block body %}
<div id="menu">
    <div id="title">
        <img src="{{ asset('images/user-icon.png') }}" class="action_icon"/>
        Alterar Usuário
    </div>
</div>
<div id="conteudo">
    <div id="conteudo-fundo">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar Usuário" class="btn"/>
    {{ form_end(edit_form) }}
    </div>
</div>
{% endblock %}
