@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background-image:url(../images/bg-background.png);
    background-repeat: no-repeat;
    font-family: Open Sans;
    background-attachment: fixed;
    background-size: 100%;
}
#logo{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    height: 100px;
    background-size: 250px;
    background-position: 10px 18px;
    background-color: #000;
}
#container{
    width: 100%;
}
#menu{
    width: 100%;
    height: 30px;
    background-color: #161616;
    border-bottom: 1px solid #000;
}
#title{
    padding:8px;
    float:left;
    color:#fff;
    font-weight: bold;
}
#area_administrativa{
    padding:5px;
    float:right;
    color:#fff;
}
#img_entrar{
    background-image: url(../images/login-icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    left:10px;
    position: relative;
}
#buttonAction{
    padding:1px 5px;
    float:right;
    font-size:25px;
    top:-5px;
    position: relative;
    color:#fff;
}
#Logout{
    float:right;
    padding: 10px;
    width:100%;
    text-align:right;
    top:-114px;
    position:absolute;
}
#idFiltro{
    margin:10px;
    position:relative;
}
#spanLogout{
    top:3px;
    position: relative;
}
#conteudo{
    min-height:350px;
    padding:20px;
}
#search-index{
    text-align: center;
    margin:30px;
    position: relative;
}

#conteudo-fundo{
    padding:20px;
    background-color: #fff;
}
input[type=text],input[type=password], select {
    width: 100%;
    font-size:14px;
    padding: 5px;
    margin: 3px 0;
    box-sizing: border-box;
}
#tables{
    width: 100%;
    border: 1px solid #cdcdcd;
}

#tables thead{
    background-color: #232323;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    color:#fff;
}
#tables thead th{
    border-left: 1px solid #000;
    padding:2px 5px;
}

#tables tbody td{
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding:2px 5px;
}
.center{
    text-align: center;
}
.mb-2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: ruby;
}
.btn{
    background-color: #222222;
    color:#fff;
}
.btn-pesquisar{
    background-color: #222222;
    color:#fff;
    margin-left: -90px;
    height: 35px;
    margin-top:-2px;
}

#tableSearch{
    text-align: center;
    width: 100%;
    background-color: #fff;
}
#search_titulo{
    width: 70%;
    margin: 0 auto;
}
#resultados{
    width: 100%;
    float: left;
}
.titulo{
    font-size: 14px;
    font-weight: bold;
    float: left;
    width: 100%;
}
.descricao{
    font-size: 12px;
    float: left;
    width: 100%;
}
.result{
    width: 100%;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px;
}

#menu-lateral{
    width: 15%;
    float: left;
    border-radius: 3px;
    border:1px solid #000;
}
#menu-title{
    background-color: #161616;
    color:#fff;
    padding: 5px;
}

#menu-conteudo{
    padding: 5px;
    background-color: #fff;
}
.span-menu{
    position: relative;
    left:3px;
    top:6px;
}
.img-menu{
    width: 30px;
    margin: 5px;
}
#conteudo-right{
    width: 84%;
    float: right;
    background-color: #fff;
}

.login {
    width: 500px;
    margin: 50px auto;
    color: #000;
}

.login article {
    padding: 50px;
    background: #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.login article h1 {
    margin-top: 0;
    font-family:Arial;
}

.login article label {
    display: -moz-inline-box;
    display: inline-block;
    width: 160px;
    font-size: 18px;
}
.login article input[type="text"], .login article input[type="password"], .login article input[type="email"] {
    border: 1px solid #ccc;
    font-size: 24px;
    padding: 5px;
    width: 220px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.login .error {
    background-color: #ff6666;
    color: #333;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.action_icon{
    width: 20px;
}
#msgEmpresa{
    text-align: center;top:10px;position: relative;
}
.link{
    color: #fff;
}
.link:hover{
    color: #fff;
    text-decoration:none;
}
